---
title: Words, Rewriting, and Automata
layout: default
toc: Overview
subtoc: Capabilities
---

These include
<ul>
  <li>
    functions for calculating with
    {% include ref.html manual="Reference: Words" text="words" %}, in particular with
    {% include ref.html manual="Reference: Associative Words" text="associative&nbsp;words" %},
    <br /><br />
  </li>
  <li>
    some set of functions dealing with
    {% include ref.html manual="Reference: Rewriting Systems" text="rewriting&nbsp;systems" %},
    <br /><br />
  </li>
  <li>
    the package
    <a href="{{ "/Packages/kbmag.html" | relative_url }}">kbmag</a> providing the Knuth-Bendix
    method on Monoids and functions for Automatic Groups,
    <br /><br />
  </li>
  <li>
    the package
    <a href="{{ "/Packages/kan.html" | relative_url }}">kan</a> provides a collection of
     functions for computing with all types of Kan extension, 
     including double coset rewriting systems.
    <br /><br />
  </li>
  <li>
    the package
    <a href="{{ "/Packages/idrel.html" | relative_url }}">IdRel</a> provides functions 
    for computing the identities among relators of an fp-group 
    presentation using logged rewriting.
    <br /><br />
  </li>  
  <li>
    the package
    <a href="{{ "/Packages/automata.html" | relative_url }}">Automata</a>, allowing to generate 
    finite state automata and investigate its states.
  </li>
</ul>

